<v-list-item class="todo-item">
  <v-list-item-action>
    <v-checkbox :input-value="todo.isDone" color="primary" v-if="!isInEditMode" @click="toggleStatus"></v-checkbox>
    <v-icon color="primary" v-else></v-icon>
  </v-list-item-action>
  <template v-if="!isInEditMode">
    <v-list-item-content :class="{ 'primary--text': todo.isDone }" @dblclick="enterEditingMode">
      {{ todo.description }}
    </v-list-item-content>
    <v-list-item-action>
      <v-btn color="red lighten-3" text icon v-on:click="remove">
        <v-icon>mdi-delete</v-icon>
      </v-btn>
    </v-list-item-action>
  </template>
  <template v-else>
    <v-text-field clearable ref="input" label="Edit task"
                  :value="todo.description"
                  v-focus="isInEditMode"
                  @blur="submitEditingMode"
                  @keyup.enter="submitEditingMode"
                  @keyup.esc="exitEditingMode" width="75%"
    ></v-text-field>
    <v-btn color="red lighten-3" text icon v-on:click="remove">
      <v-icon>mdi-delete</v-icon>
    </v-btn>
  </template>
</v-list-item>
